<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.bundle.min.JS"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/107/three.min.js"></script> -->
    <script src="/build/three.min.js"></script>
    <title>Simulasi Timbangan Bilangan</title>
  </head>
  <body
    class="
      background-abstrak
      d-flex
      align-items-center
      justify-content-center
      vh-100
    "
  >
    <%- include("../template/navbar") %> <%- body %>
    <footer class="fixed-bottom bg-dark text-white py-3 px-2 row">
      <% const dateNow = new Date() %>
      <div class="col-sm-4 text-sm-start text-center">
        <p class="m-0">Nama Aplikasi</p>
      </div>
      <div class="col-sm-4 text-center">
        <p class="m-0"><%= dateNow.getFullYear() %> Hak Cipta</p>
      </div>
      <div class="col-sm-4 text-center text-sm-end">
        <p class="m-0">
          <%=
          `${dateNow.getDate()}-${dateNow.getMonth()+1}-${dateNow.getFullYear()}`
          %>
        </p>
      </div>
    </footer>
  </body>
</html>
