<%- layout("./layouts/boilerplate") %>
<section
  class="vh-100 d-flex justify-content-center align-items-center flex-column"
>
  <h3 class="fw-bolder">Selamat Datang Pak Joko</h3>
  <div class="card mt-5 glass-morphism glass-morphism-white p-3">
    <div class="card-header p-2 border-0" style="background-color: transparent">
      <h5 class="m-0">Silahkan pilih menu di bawah ini</h5>
    </div>
    <div class="card-body p-2">
      <a
        href="/konfigurasi"
        class="
          glass-morphism glass-morphism-white
          btn btn-primary
          d-block
          w-100
          mb-2
        "
      >
        Konfigurasi Timbangan Bilangan
      </a>
      <a
        href="javascript:void(0)"
        class="
          glass-morphism glass-morphism-white
          btn btn-primary
          d-block
          w-100
          mb-2
        "
      >
        Mulai Kelas
      </a>
      <a
        href="javascript:void(0)"
        class="
          glass-morphism glass-morphism-white
          btn btn-primary
          d-block
          w-100
          mb-2
        "
      >
        Nilai Pelajar
      </a>
    </div>
  </div>
</section>
